@media only screen and (min-width: 300px) .paypal-button.paypal-button-layout-vertical {
	margin-bottom: 14px;
}
@media only screen and (min-width: 300px) .paypal-button.paypal-button-shape-rect {
	border-radius: 4px;
}
@media only screen and (min-width: 300px) .paypal-button:not(.paypal-button-card) {
	height: 45px;
	min-height: 30px;
	max-height: 55px;
}
@media only screen and (min-width: 200px) .paypal-button.paypal-button-layout-vertical {
	margin-bottom: 11px;
}
@media only screen and (min-width: 200px) .paypal-button.paypal-button-shape-rect {
	border-radius: 4px;
}
@media only screen and (min-width: 200px) .paypal-button:not(.paypal-button-card) {
	height: 35px;
	min-height: 35px;
	max-height: 55px;
}
@media only screen and (min-width: 150px) .paypal-button.paypal-button-layout-vertical {
	margin-bottom: 8px;
}
@media only screen and (min-width: 150px) .paypal-button.paypal-button-shape-rect {
	border-radius: 4px;
}
@media only screen and (min-width: 150px) .paypal-button:not(.paypal-button-card) {
	height: 25px;
	min-height: 25px;
	max-height: 55px;
}
@media only screen and (min-width: 75px) .paypal-button.paypal-button-layout-vertical {
	margin-bottom: 8px;
}
@media only screen and (min-width: 75px) .paypal-button.paypal-button-shape-rect {
	border-radius: 4px;
}
@media only screen and (min-width: 75px) .paypal-button:not(.paypal-button-card) {
	height: 25px;
	min-height: 25px;
	max-height: 30px;
}
.paypal-button.paypal-button-color-blue {
	background: #009cde;
	color: #fff;
}
.paypal-button:not(.paypal-button-card) {
	border: 1px solid transparent;
	border-radius: 0 3px 3px 0;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	border: none;
	vertical-align: top;
	cursor: pointer;
	outline: none;
	overflow: hidden;
}
.paypal-button {
	transition: opacity 0.25s ease-in-out;
}
* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	box-sizing: border-box;
}
user agent stylesheet div {
	display: block;
}
@media only screen and (min-width: 300px) .paypal-button-container {
	min-width: 300px;
	max-width: 500px;
	font-size: 14px;
}
@media only screen and (min-width: 200px) .paypal-button-container {
	min-width: 200px;
	max-width: 300px;
	font-size: 11px;
}
@media only screen and (min-width: 150px) .paypal-button-container {
	min-width: 150px;
	max-width: 200px;
	font-size: 10px;
}
@media only screen and (min-width: 75px) .paypal-button-container {
	min-width: 75px;
	max-width: 150px;
	font-size: 10px;
}
.paypal-button-container {
	display: block;
	white-space: nowrap;
	margin: 0;
	background: 0;
	border: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: none;
	font-weight: 500;
	r: ;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	z-index: 0;
	font-size: 0;
	width: 100%;
	box-sizing: border-box;
}
#venmoLoader {
	position: absolute;
	width: 0;
	height: 0;
	border: 0;
}
.cardContainer {
	margin: auto;
}
@media only screen and (max-width: 590px) {
	.cardContainer {
		width: 295px;
		margin: auto;
	}
}
@media only screen and (min-width: 591px) {
	.cardContainer {
		width: 590px;
		margin: auto;
	}
}
@media only screen and (min-width: 886px) {
	.cardContainer {
		width: 885px;
		margin: auto;
	}
}
@media only screen and (min-width: 1181px) {
	.cardContainer {
		width: 1180px;
		margin: auto;
	}
}
